<h1>FrontendRecommendationsSimilar#frontend_recommendations_similar</h1>
<%= @message %>
<br>
<%= @exception %>

<p>Find me in app/views/frontend_recommendations_similar/frontend_recommendations_similar.html.erb</p>
